body {
	padding: 10px;
	font-family: Helvetica, sans-serif;
}

.input-field {
	width: 800px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	gap: 20px;
	margin: 10px 4px;
	border-bottom: 1px solid whitesmoke;
	textarea{
		margin-left: auto;
	}
}

textarea {
	min-width: 400px;
	width: 400px;
	min-height: 100px;
	padding: 10px;
	margin-bottom: 10px;
	resize: vertical;
}

input {
    margin-left: auto;
    width: 400px;
	height: 20px;
    padding: 1px 10px;
    margin-bottom: 10px;
}

.nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	border-bottom: 2px solid whitesmoke;
	margin-bottom: 10px;
	padding-bottom: 10px;
	height: 60px;
}

.auction-heading {
	font-family: Georgia, serif;
	font-size: 40px;
}

.nav-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 40px;

	.page-links {
		margin-left: 100px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		a {
			font-weight: bold;
		}
	}

	.user-info {
		margin-left: auto;
		margin-right: 10px;

		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		.username {
			font-weight: bold;
		}
	}

	.page-links, .user-info{
		gap: 20px;
	}
}

.listing-container,
.auction-item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 10px;
	margin-top: 40px;
}

.listing-item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80%;
	height: 280px;
	gap: 10px;
	border: 1px solid black;
	background-color: #f5f5f558;
	.item-img {
		width: 400px;
		min-width: 400px;
		height: 100%;
		margin: 0px;
		padding: 0px;
		object-fit: contain;
		box-sizing: border-box;
		border-right: 1px solid black;
	}
}

.item-info {
	width: 100%;
	height: 100%;
	padding: 10px 20px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	box-sizing: border-box;

	.item-description {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		text-wrap: pretty;
		background-color: #f5f5f5;
		padding: 10px 12px;
		box-sizing: border-box;
	}

	footer {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		margin-top: auto;
		gap: 10px;
		width: 100%;
	}

	.owner {
		margin-right: 10px;
		font-weight: bold;
	}
	
}

.auction-item-heading {
	a {
		color: black;
	}
}

.auction-item-container{
    min-height: 100%;
}

.auction-item, .comments {
	width: 80%;
	min-height: 100%;
	gap: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.auction-item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.auction-item-img {
	width: 600px;
    min-width: 600px;
	height: 100%;
	object-fit: contain;
}

.auction-item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px 20px;
    width: 100%;
    height: 500px;
}

.auction-item-description {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	text-wrap: pretty;
	background-color: #f5f5f5;
	padding: 6px 12px;
}

.auction-item-name{
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.6cap;
}

.auction-additional-info-container{
	margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
	a, span{
		color: gray;
		font-size: 12px;
	}
}

.comments{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 100px;
}

.comment-input-section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 10px;
	border-bottom: 2px solid whitesmoke;
}

.button-container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 10px;
	margin-top: 10px;
}

.margin-left{
	margin-left: auto;
}

a{
	text-decoration: none;
	color: rgb(0, 81, 255);
	&:hover{
		text-decoration: underline;
	}
}