{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{title}}
{% endblock %}

{% block body %}
    <h2>Edit {{title}}</h2>
    <form class="create-new-page-body" method="post" action="{% url 'encyclopedia:edit-wiki' title=title %}">
        {% csrf_token %}
        <div class="input-field">
            <span title="This is helpful for searching. Add many words as you can">Page name :</span>
            <input type="text" name="title" value="{{title}}">
        </div>
        <h4>Edit in <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">github markdown</a>.</h4>
        <textarea name="content">{{markdown}}</textarea>
        <button class="save-btn" type="submit">Save</button>
    </form>
{% endblock %}