main {
	margin-bottom: 100px;
	min-height: 100%;
}

textarea {
	min-height: 400px;
}

.btn-primary {
	margin-top: 10px;
}

#emails-view {
	width: 100%;
	height: fit-content;
}

.email-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.308);
	background-color: white;
	font-weight: 600;
	font-size: 16px;
	padding: 4px 10px;
	font-family: system-ui;
	letter-spacing: 0.2px;
	user-select: none;

	&:hover {
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.233);
	}
}

.first-section,
.second-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.first-section {
	width: 20%;
	text-overflow: ellipsis;
}

.second-section {
	width: 100%;
	.timestamp {
		margin-left: auto;
	}
}

.sender-name {
	font-size: 18px;
}

.email-read {
	background-color: rgba(128, 128, 128, 0.178);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.email-view {
	display: none;
}

.view-email {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 4px;
	background-color: rgba(207, 207, 207, 0.253);
	padding: 10px 20px;
	min-height: fit-content;

	.archive-state-btn,
	.reply-btn {
		border: none;
		border-radius: 20px;
		padding: 4px 20px;
		background-color: rgba(128, 128, 128, 0.699);
		&:hover {
			box-shadow: 1px 1px 6px #00000046;
		}
	}

	.reply-btn {
		background-color: transparent;
		border: 1px solid rgba(128, 128, 128, 0.699);
	}
}

.email-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
	height: 40px;
	.email-sender {
		font-size: 18px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.email-timestamp {
		margin-left: auto;
	}

	.archive-state-btn,
	.email-timestamp {
		font-size: 16px;
	}
}
.recipients {
	font-size: 16px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;

	.recipient-list {
		font-size: 16px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		gap: 10px;
	}
}

.email-body {
	margin-top: 20px;
	letter-spacing: 0.2px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 400;
	direction: ltr;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	transition: color 0.5s, background-color 0.5s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-wrap: break-word;
	text-wrap: pretty;
}
