.nav {
	width: 100%;
	height: 40px;
	background-color: var(--surface-0);
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0px;

    margin-left: 0px;
	margin-right: 0px;

	width: 40vw;
	overflow: hidden;
}

.nav-item {
	box-sizing: border-box;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	text-decoration: none;
	color: var(--text);
	font-weight: bold;
	user-select: none;
	cursor: pointer;
	&:hover {
		background-color: var(--surface-1);
	}
}

.username {
	text-transform: capitalize;
}

@media(orientation: portrait){
	.nav{
		width: 100%;
	}
}