{% extends "layout.html" %} 
{% load static %}

{% block title %} 
Signin - URL Manager
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/authentication/style.css' %}">
{% endblock %}

{% block body %}
<h1>Signin</h1>
{% if message %}
<span class="secondary">{{message}}</span>
{% endif %}
<form action="{% url 'signin' %}" method="post" class="flex-column nogap">
    {% csrf_token  %}
    <div class="input-container">
        <span>Username</span>
        <input type="text" name="username">
    </div>

    <div class="input-container">
        <span>Email</span>
        <input type="email" name="email">
    </div>

    <div class="input-container">
        <span>Password</span>
        <input type="password" name="password">
    </div>

    <div class="button-container">
        <button type="submit">Done</button>
    </div>
</form>
{% endblock %}
